<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 sidebar" style="ngtext-align:center; font-size:15pt;">
      <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12 sidebar" style="text-align:center; font-size:15pt; border: solid black 2px; height: 200px; margin: 10px; border-radius: 20px; max-width: 40vw" (click)="OnClicRedirect('market')">
          ACHETER
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12 sidebar" style="text-align:center; font-size:15pt; border: solid black 2px; height: 200px; margin: 10px; border-radius: 20px; max-width: 40vw" (click)="OnClicRedirect('vendre')">
          VENDRE
        </div>
      </div>
    </div>
  </div>
</div>
